# MySQL container
MYSQL_ROOT_PASSWORD=Put_your_desired_passwd
MYSQL_DATABASE=Change_your_desired_db

# Spring Boot app (used by docker-compose.yml)
SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/bankappdb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=Change_it_to_your_usage
SPRING_DATASOURCE_PASSWORD=Better_to_have_both_mysql&sdpassamepasswd
